main div {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px dotted green;
  background-color: hotpink;
  position: absolute;
  transition: all 3s;
}
main {
  position: relative;
}
